# Виртуальное окружение (самое важное, оно тяжелое)
venv/
.venv/
env/

# Кэш Python
__pycache__/
*.pyc

# Твой файл кэша (чтобы чужие пути к папкам не попадали в репозиторий)
cache.json

# Папки IDE
.vscode/
.idea/

# Результаты сборки (если будешь делать .exe)
dist/
build/
*.spec

*.ZR3